{% extends "layout.twig" %}


{% block content %}

    <h1 class="welcome">Welcome dear guest!</h1>
    <div class="home">
        <img src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" alt="rick">
        <img src="https://rickandmortyapi.com/api/character/avatar/2.jpeg" alt="morty">
        <img src="https://rickandmortyapi.com/api/character/avatar/11.jpeg" alt="albert">
        <img src="https://rickandmortyapi.com/api/character/avatar/28.jpeg" alt="attila">
    </div>

{% endblock %}