<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Rick and Morty page</title>
</head>
<header>
    <h1>Rick and Morty Page</h1>
    <div class="headerImages">
        <img src="https://rickandmortyapi.com/api/character/avatar/17.jpeg" alt="rick">
        <img src="https://rickandmortyapi.com/api/character/avatar/63.jpeg" alt="morty">
        <img src="https://rickandmortyapi.com/api/character/avatar/78.jpeg" alt="albert">
    </div>
    <div class="nav">
        <form action="/">
            <button>HOME</button>
        </form>
        <form action="/characters">
            <button>Characters</button>
        </form>
        <form action="/filter">
            <button>Filter</button>
        </form>
        <form action="/locations">
            <button>Locations</button>
        </form>
        <form action="/episodes">
            <button>Episodes</button>
        </form>
    </div>
</header>
<body>

{% block content %}{% endblock %}

</body>

<footer>
    <div class="footer">
        <h2>Characters: 826 | Locations: 126 | Episodes: 51</h2>
        <h2>POWERED BY LOCALHOST :)</h2>
        <h2>by Guntars Vaivods</h2>
    </div>
</footer>
</html>